<!DOCTYPE html>
<html>
  <head>
    <title>Information</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Enter Your Information Here</h1>

    <a href="/informations/new"> Click Here</a>
    
      <!-- <label>NAME
        <input type="text" name="optionsList" class="button">
      </label>
      
      <label>BIRTHDAY
        <input type="text" name="optionsList" class="button">
      </label>
  
      <label>PHONE NUMBER
        <input type="text" name="optionsList" class="button">
      </label>
      
      <label>EMAIL
        <input type="text" name="optionsList" class="button">
      </label>
      
      <label>NOTE
        <input type="text" name="optionsList" class="button">
      </label>
      
      </label><br> -->

    
  </body>
</html>
