<!DOCTYPE html>
<html>
  <head>
    <title>Information</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Enter Your Information Here</h1>
    
    <form action="/informations" method="POST">
      <label>NAME
        <input type="text" name="optionsList">
      </label>
      
      <label>BIRTHDAY
        <input type="text" name="optionsList">
      </label>
  
      <label>PHONE NUMBER
        <input type="text" name="optionsList">
      </label>
      
      <label>EMAIL
        <input type="text" name="optionsList">
      </label>
      
      <label>NOTE
        <input type="text" name="optionsList">
      </label>
      <a href="/informations">Informations</a>
    </form>
  </body>
</html>
