<!DOCTYPE html>
<html>
  <head>
    <title>Information</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Enter Your Information Here</h1>
    
    <form action="/informations" method="POST">
      <label>NAME
        <input type="text" name="name">
      </label>
      
      <label>BIRTHDAY
        <input type="datetime-local" name="birthday">
      </label>
  
      <label>PHONE NUMBER
        <input type="text" name="phoneNumber">
      </label>
      
      <label>EMAIL
        <input type="text" name="email">
      </label>
      
      <label>NOTE
        <input type="text" name="note">
      </label>
      
      <!-- <div class="submit"> -->
        <input type="submit" value="Submit Information">
      <!-- </div> -->
        <!-- <a href="/informations">Informations</a> -->
      <!-- </div> -->
    </form>
  </body>
</html>
